table, td, tr{
    border: 1px solid;
    text-align:center;
    border-spacing: 0px;
    height: 40px;
}

table{
    width:100%;
    border:0px solid;
    border-color: #0f0f0f;
}

#btn1{
    width: 15%;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0em;
}

#btn2{
    width: 90%;
}

#btn3{
    width: 15%;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0em;
}

td{
    width: 12.5%;
}