<!--ul>
<li ng-repeat="d in resMatrix">
    {{ d[0].start.format("ddd D/M") }}
    <ul>
    <li ng-repeat="r in d">
        {{ r.start.format("hh:mm") }}
    </li>
        </ul>
</li>
</ul-->

<!doctype html>
<html ng-app="schedulerApp">
<head>
    <style>
        .table th {
            text-align: center;
        }
        .booked {
            background-color: yellow;
        }
    </style>

    <script src="../js/libs/lodash.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/libs/jquery-ui.js"></script>

    <script src="../js/libs/bootstrap.js"></script>
    <script src="../js/libs/moment.js"></script>
    <script src="../js/libs/moment-range.js"></script>
    <script src="../js/libs/angular.js"></script>
    <script src="../js/libs/angular-route.js"></script>

    <script src="../js/app.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/animate.css">
</head>
<body ng-controller="AgendaController">



    <div class="row">
        <div class="col-sm-12">
            <div class="list-group">
                <span class="list-group-item list-group-item-info">Elenco prenotaizoni</span>
                <a href="#" class="list-group-item">Prenotazione 1 ...</a>
                <a href="#" class="list-group-item">Prenotazione 2 ...</a>
                <a href="#" class="list-group-item">Prenotazione 3 ...</a>
            </div>
        </div>
</div>

<div class="container">
    <div ng-view></div>
</div>





</body>
</html>
